<%= bootstrap_form_for [:admin, report] do |f| %>
  <%= f.alert_message "Please fix the errors below." %>

  <%= f.hidden_field :repository_id %>
  <%= f.date_field :report_date %>

  <div class='form-group'>
    <%= f.primary 'Save' %>
  </div>

<%- end -%>
