<h2>
  Reports
</h2>

<ul class="nav nav-pills">
  <%- Client.all.each do |client| %>
    <li>
      <%= link_to client.name, client_path(id: client.token) if client.token %>
    </li>
  <% end %>
</ul>

<%- if @reports.present? -%>
<table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Repository</th>
    </tr>
  </thead>

  <tbody>
    <%- @reports.group_by(&:month).each do |month, reports| -%>
      <tr class="active">
        <th colspan="99"><%= render_month month %></th>
      </tr>
      <% reports.each do |report| %>
        <tr>
          <td><%= report.client_name %></td>
          <td><%= report.repository_name %></td>
          <td>
            <%= link_to 'View', report_path(report), class: 'btn btn-default btn-xs pull-right' %>
            <%= link_to 'Edit', edit_admin_report_path(report), class: 'btn btn-default btn-xs pull-right' %>
          </td>
        </tr>
      <% end %>
    <%- end -%>
  </tbody>
</table>
<%- else -%>
  <p class="alert alert-info">No reports found.</p>
<%- end -%>
