<h2>
  <%= link_to 'Reports', admin_reports_path %>
  &rarr;
  <%= @report.repository_name %>
  &rarr;
  New
</h2>

<%= render 'form', report: @report %>
<%= render 'private_notes', entries: @report.private_notes if @report.private_notes.any? %>

<h2>Report Preview</h2>
<%= render 'reports/report', report: @report %>
