<% reports.includes(:repository, :log_entries).group_by(&:month).each do |month, reports| %>
  <h5>
    <%= render_month month %>
  </h5>

  <ul class="nav nav-pills nav-stacked">
    <% reports.each do |report| %>
      <%= content_tag :li, class: (report == @report ? 'active' : '') do %>
        <%= link_to report do %>
          <%= report.repository_name %>
          <span class="mini-badge"><%= report.log_entries.size %></span>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
