<%= bootstrap_form_for [:admin, entry] do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.collection_select :repository_id, Repository.all.order('client_id, name'), :id, :name, prompt: 'Please select…' %>
  <%= f.collection_select :entry_type, LogEntry::TYPES, :to_s, :humanize, prompt: 'Please select…' %>
  <%= f.text_area :note %>

  <div class='form-group'>
    <%= f.primary 'Save' %>
    <%= f.button 'Save & Add Another', name: 'add', value: true, class: 'btn btn-primary' %>
  </div>

<%- end -%>
