<%= bootstrap_form_for [:admin, entry] do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.collection_select :application_id, Application.all, :id, :name, prompt: 'Please select…' %>
  <%= f.collection_select :entry_type, LogEntry::TYPES, :to_s, :humanize, prompt: 'Please select…' %>
  <%= f.text_area :note %>

  <div class='form-group'>
    <%= f.primary 'Save' %>
  </div>

<%- end -%>
