<h2>
  <%= "#{application.name} →" if application %>
  Log Entries
  <%= link_to 'Add Entry', new_admin_log_entry_path(application_id: application), class: 'action' %>
</h2>

<%- if @entry_groups.any? -%>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Client</th>
      <th>Application</th>
      <th>Type</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <%- @entry_groups.each do |group_name, entries| -%>
      <tr>
        <th colspan="99"><%= group_name %></th>
      </tr>
      <% entries.each do |entry| %>
        <tr>
          <td><%= link_to entry.completed_at, edit_admin_log_entry_path(entry) %></td>
          <td><%= entry.client_name %></td>
          <td><%= entry.application_name %></td>
          <td><%= entry.entry_type.humanize %></td>
          <td><%= parse_note entry %></td>
          <td>
            <%= link_to 'Duplicate', admin_log_entry_duplicate_path(entry), class: 'btn btn-default btn-xs pull-right' %>
          </td>
        </tr>
      <% end %>
    <%- end -%>
  </tbody>
</table>
<%- else -%>
  <p class="alert alert-info">No entries found.</p>
<%- end -%>