<h2>
  <%= "#{repository.name} →" if repository %>
  Log Entries
  <%= link_to 'Add Entry', new_admin_log_entry_path(repository_id: repository), class: 'action' %>
  <%= link_to 'New Report', new_admin_report_path(repository_id: repository), class: 'action' if repository %>
</h2>

<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
  <%= scoped_submenu_item 'Current', :current %>
  <%= scoped_submenu_item 'Archived', :archived %>
</ul>

<%- if @entry_groups.any? -%>
<table class="table">
  <thead>
    <tr>
      <th>Repository</th>
      <th>Type</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <%- @entry_groups.each do |group_name, entries| -%>
      <tr class="active">
        <th colspan="99"><%= group_name %></th>
      </tr>
      <% entries.each do |entry| %>
        <tr>
          <td><%= entry.repository_name %></td>
          <td><%= entry.entry_type.humanize %></td>
          <td>
            <%= parse_note entry %>
          </td>
          <td>
            <%= link_to 'Edit', edit_admin_log_entry_path(entry), class: 'btn btn-default btn-xs pull-right' %>
            <%= link_to 'Duplicate', admin_log_entry_duplicate_path(entry), class: 'btn btn-default btn-xs pull-right' %>
          </td>
        </tr>
      <% end %>
    <%- end -%>
  </tbody>
</table>
<%- else -%>
  <p class="alert alert-info">No entries found.</p>
<%- end -%>
